nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: auto;
  position: sticky;
  top: 0;
  padding: 10px 10%;
  z-index: 1000;
}
.__navbar__logo__ > a {
  color: #fff !important;
  text-decoration: none !important;
}
.__navbar__logo__ > h1 {
  font-size: 1.25rem;
  text-decoration: none;
  color: #fff;
}

.___navbar__Items {
  display: flex;
  align-items: center;
}

.__navbar__Item {
  display: flex;
}

.__nav__item__each {
  text-decoration: none;
  color: #ffffff;
  margin-right: 70px;
  display: flex;
  align-items: center;
  font-weight: bold;
  position: relative;
  transition: all 0.3s;
}
.__nav__item__each::after {
  content: "";
  position: absolute;
  width: 0;
  height: 5px;
  background-color: #fff8f8;
  bottom: -5px;
  left: 0;
  transition: all 0.3s;
  border-radius: 5px;
}

.__nav__item__each:hover::after {
  width: 100%;
}

.__nav__item__each svg {
  margin-right: 8px;
}

/* resume btn css start */

.__navbar__Items button {
  background-color: #007bff !important;
  border: none;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.__navbar__Items button a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}
.__navbar__Items button::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0) 70%
  );
  top: 0;
  left: -100px;
  opacity: 0.6;
}

.__navbar__Items button::before {
  animation: shine 1.5s ease-out infinite;
}

@keyframes shine {
  0% {
    left: -100px;
  }

  60% {
    left: 100%;
  }

  to {
    left: 100%;
  }
}

/* resume btn css end */



/* Small Devices (e.g., landscape smartphones) */
@media (max-width: 480px) {
  nav > div:last-child {
    display: none;
  }
}
