.__heading_____ {
  font-size: 5rem;
  margin-bottom: 3rem;
  text-align: center;
  color: #ffff !important;
}
.__heading_____ span {
  color: #00abf0;
}
.__about__ {
  width: 80%;
  margin: 10px auto;
  display: flex;
}

.__about__ > div:first-child {
  width: 40%;
}

.__about__ > div:last-child {
  width: 60%;
}

.__about__img__ img {
  height: 70%;
  border-radius: 50%;
  border: 0.2rem solid #00abf0;
  box-shadow: 0 0 8rem rgba(255, 255, 255, 1.6);
}

.__about__content__ {
  max-width: 1250px;
  text-align: justify;
}

.__about__content__ h3 {
  font-size: 2.6rem;
  color: #ffff;
}

.__about__content__ p {
  font-size: 1.2rem;
  margin: 2rem 0 3rem;
  color: #ffff;
}
.__here__image___ {
  padding-bottom: 20px;
}

/* Extra Small Devices (e.g., portrait smartphones) */
/* @media (max-width: 320px) {
  .home-header {
    margin-top: -18% !important;
    font-size: 14px;
  }

  .__here__image___ {
    padding-top: 20% !important;
  }

  .__about__ {
    flex-direction: column;
    text-align: center;
  }
  .__about__ > div {
    width: 100% !important;
  }

  .__about__img__ {
    width: 0 !important;
    margin-top: 0 !important;
  }

  .__about__img__ img {
    width: 90%;
  }

  .__about__content__ {
    margin-top: 15%;
  }

  .__about__content__ h3 {
    font-size: 25px;
  }

  .__about__content__ p {
    font-size: 10px;
  }
} */

/* Small Devices (e.g., landscape smartphones) */
@media (max-width: 480px) {
  .__heading_____ {
    font-size: 4rem;
  }
  .home-header {
    margin-top: -18% !important;
    font-size: 14px;
  }

  .__here__image___ {
    padding-top: 20% !important;
  }

  .__about__ {
    flex-direction: column;
    text-align: center;
  }
  .__about__ > div {
    width: 100% !important;
  }

  .__about__img__ {
    width: 0 !important;
    margin-top: 0 !important;
  }

  .__about__img__ img {
    width: 90%;
  }

  .__about__content__ {
    margin-top: 15%;
  }

  .__about__content__ h3 {
    font-size: 25px !important;
  }

  .__about__content__ p {
    font-size: 10px !important;
  }
}

/* Tablet Devices (e.g., portrait and landscape) */
@media (max-width: 768px) {
  .home-about-section {
    padding-top: 40px;
  }

  .__heading_____ {
    font-size: 30px;
  }
  .__about__ {
    flex-direction: column;
    text-align: center;
  }
  .__about__ > div {
    width: 100% !important;
  }

  .__about__img__ {
    width: 0 !important;
    margin-top: 0 !important;
  }

  .__about__img__ img {
    width: 45%;
  }

  .__about__content__ {
    margin-top: 10%;
  }

  .__about__content__ h3 {
    font-size: 30px;
  }

  .__about__content__ p {
    font-size: 14px;
  }
}

/* Medium-sized Desktops: */

@media (min-width: 769px) and (max-width: 1024px) {
  .home-about-section {
    padding-top: 30px;
  }

  .__heading_____ {
    font-size: 50px;
  }
  .__about__ {
    flex-direction: column;
    text-align: center;
  }
  .__about__ > div {
    width: 100% !important;
  }

  .__about__img__ {
    width: 0 !important;
    margin-top: 0 !important;
  }

  .__about__img__ img {
    width: 50%;
  }

  .__about__content__ {
    margin-top: 8%;
  }

  .__about__content__ h3 {
    font-size: 35px;
  }

  .__about__content__ p {
    font-size: 16px;
  }
}
